APP_NAME=Kakio
APP_ENV=production
APP_DEBUG=false
APP_URL=https://kakio.se
APP_KEY=change_me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kakio
DB_USERNAME=kakio_user
DB_PASSWORD=secret
SESSION_NAME=kakio_session
SESSION_SECURE_COOKIE=true
